<div id="new-goal-form">
   <%= render 'shared/form' , goal: @goal,disabled: false %>
</div>

<script>
$(function () {
      $(" .artifact-select").trigger('change')
      $(".criteria-val:not(.hide) .form-control").trigger('change')
    })
</script>