<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>conciseph</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">
  <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
      <!-- <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #272f57;text-decoration:none;font-weight:600">ConcisePH</a>
      </div> -->
      <p style="font-size:1.1em">Hello <%= @user.name%>,</p>
      <p>Thank you for choosing ConcisePH. Your email verification code is </p>
      <h2 style="background: #272f57;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"><%= @otp %></h2>
      <p style="font-size:0.9em;">Thanks and Regards,<br />ConcisePH Team</p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>Concise PH LLC,</p>
        <p>San Diego, California</p>
      </div>
    </div>
  </div>
</body>
</html>