<div class="bs-stepper-header" role="tablist">
    <!-- your steps here -->
    <div class="step active" data-target="#logins-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Define</span>
        </button>
    </div>
    <div class="line"></div>
    <div class="step " data-target="#review-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="review-part" id="review-part-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Review</span>
        </button>
    </div>
    <div class="line"></div>
    <div class="step " data-target="#launch-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="launch-part" id="launch-part-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Launch</span>
        </button>
    </div>
</div>